@model IEnumerable<WebApplication6.Models.Film>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.release_year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rental_duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rental_rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.replacement_cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_update)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.special_features)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fulltext)
        </th>
        <th></th>
    </tr>

    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.release_year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rental_duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rental_rate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.length)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.replacement_cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.rating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.last_update)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.special_features)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fulltext)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        }
    }

</table>
